li {
  margin: 8px;
  padding:5px;
  font-size:20px;
}

li.button{
  margin: 8px;
  padding:5px;
   font-size:16px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}


.container{
  background-color: red;
}

.devoured,.notdevoured{
  border:2px solid black;
  border-radius: 10px;
}


li:before { 
  content: "🍔"; 
}
li.button:before{
   content: ""; 
}

li{
  align-items: stretch;
}

button{
  align-self: flex-end;
}

button.devour-burger,button.delete-burger{
  /* height:12px; */
}